.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.grid-container > div {
    border: solid 3px #636564; 
    flex-direction: column;
    padding: 10px;
}

header {
    height: 20vh;
    display:grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #93a3b1;
    border: solid 3px #636564;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #636564;
    text-align: center;
    padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.item-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('dm projects/Dean\ Trading\ Card\ Front\ 9-2016.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('dm projects/Dean\ Trading\ Card\ Back\ 9-2016.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-3 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('dm projects/Painted\ Portraits\ 9-2016.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-4 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('dm projects/Double\ Exposure\ Arctic\ Fox\ &\ Northern\ Lights\ 2-2017.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-5 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('dm projects/SPN\ Poster\ 9-2016.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-6 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('dm projects/SPN\ Con\ Art\ 3-2018.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-7 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('dm projects/Magazine\ Cover\ 3-2018.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-8 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-image: url('dm projects/Double\ Exposure\ Jensen\ Ackles\ &\ Dallas\ 2-2017.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-9 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-image: url('dm projects/Fav\ Books\ 3-2018.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


a:link {
    color:white;
    text-decoration: none;
    margin: 20px;
  }
  
  /* visited link */
a:visited {
    color: white;
    text-decoration: none;
    margin: 20px;
  }
  
  /* mouse over link */
 a:hover {
    color: white;
    text-decoration: none;
    margin: 10px;
  }
  
  /* selected link */
 a:active {
    color: white;
    text-decoration: none;
    margin: 10px; 
  }

  footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #636564;
    color: white;
    padding: 20px; 
    text-align: center;
}